:root {
    --flu-green: #006633;
    --flu-red: #990000;
    --flu-white: #FFFFFF;
}

/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: var(--flu-white);
    color: var(--flu-green);
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--flu-red);
    color: var(--flu-white);
    text-align: center;
    padding: 20px;
}

h1 {
    margin: 0;
}

form {
    background-color: var(--flu-green);
    color: var(--flu-white);
    padding: 20px;
    margin: 20px auto;
    width: 50%;
    border-radius: 10px;
}

fieldset {
    border: 2px solid var(--flu-white);
    margin-bottom: 20px;
    border-radius: 5px;
}

legend {
    background-color: var(--flu-red);
    padding: 5px 10px;
    border-radius: 5px;
    color: var(--flu-white);
}



button {
    background-color: var(--flu-red);
    color: var(--flu-white);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: var(--flu-white);
    color: var(--flu-red);
    border: 2px solid var(--flu-red);
}

/* Seção de multimídia */
section {
    background-color: var(--flu-white);
    padding: 20px;
    margin: 20px auto;
    width: 50%;
    text-align: center;
    border-radius: 10px;
    border: 2px solid var(--flu-green);
}

h2, h3 {
    color: var(--flu-green);
}

iframe, audio {
    width: 100%;
    border-radius: 10px;
}

/* Rodapé */
footer {
    background-color: var(--flu-red);
    color: var(--flu-white);
    text-align: center;
    padding: 10px;
}